.navbar {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 30px;
}

.nav-link {
  color: #333333;
  text-decoration: none;
  outline: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #007bff;
  text-decoration: none;
  outline: none;
}

.navbar-nav .nav-item.active .nav-link {
  font-weight: bold;
}

.ml-auto {
  margin-left: auto;
}

/* Style for header */
header {
  background-color: #f8f9fa;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-md-6 {
  flex-basis: 50%;
}

.text-right {
  text-align: right;
}

/* Style for carousel */
.carousel-indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.carousel-indicators li {
  background-color: transparent;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #333;
}

.carousel-inner {
  position: relative;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  color: #212529;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: #212529;
  opacity: 0.9;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  font-size: 2rem;
}

.carousel-control-prev-icon:before {
  content: '❮';
}

.carousel-control-next-icon:before {
  content: '❯';
}

/* Style for card */
.card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 35px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  line-height: 1.5;
  color: #555555;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-md-4 {
  padding: 0 10px;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
